<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jojoliu.hexagon.mapper.PostMapper" >
  <resultMap id="BaseResultMap" type="com.jojoliu.hexagon.model.Post" >
    <id column="postID" property="postid" jdbcType="INTEGER" />
    <result column="userID" property="userid" jdbcType="INTEGER" />
    <result column="tagID" property="tagid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="price" property="price" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    postID, userID, tagID, title, summary, createTime, updateTime, price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from post
    where postID = #{postid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from post
    where postID = #{postid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jojoliu.hexagon.model.Post" >
    insert into post (postID, userID, tagID, 
      title, summary, createTime, 
      updateTime, price)
    values (#{postid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{tagid,jdbcType=INTEGER},
      #{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{price,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jojoliu.hexagon.model.Post" >
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="postid != null" >
        postID,
      </if>
      <if test="userid != null" >
        userID,
      </if>
      <if test="tagid != null" >
        tagID,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="postid != null" >
        #{postid,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jojoliu.hexagon.model.Post" >
    update post
    <set >
      <if test="userid != null" >
        userID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="tagid != null" >
        tagID = #{tagid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
    </set>
    where postID = #{postid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jojoliu.hexagon.model.Post" >
    update post
    set userID = #{userid,jdbcType=INTEGER},
      tagID = #{tagid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=INTEGER}
    where postID = #{postid,jdbcType=INTEGER}
  </update>
  <!--以上为自动生成 -->
  <select id="selectByTagid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from post
    where tagID = #{tagid,jdbcType=INTEGER}
  </select>
  <select id="selectByUserid" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from post
    where userID = #{userid,jdbcType=INTEGER}
  </select>
</mapper>

